@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.embla {
  overflow: hidden;
  background-color: blue;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.has-\[\>svg\]\:px-3:has( > svg) {
    padding-inline: calc(var(--spacing) * 0);
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #666666 #efefef; /* thumb color track color */
}

/* For WebKit-based browsers (Chrome, Safari, Edge, Opera) */
.custom-scroll::-webkit-scrollbar {
  width: 10px; /* width of the vertical scrollbar */
  height: 10px; /* height of the horizontal scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #efefef; /* color of the track */
  border-radius: 10px; /* optional */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #666666; /* color of the draggable handle */
  border-radius: 10px; /* makes the thumb rounded */
}

/* Add hover effect to the thumb */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555555;
}


